# Copyright (c) 2024 CannonKeys LLC
# SPDX-License-Identifier: MIT

if BOARD_MINIMI40

config ZMK_KEYBOARD_NAME
    default "Minimi40_W"

if USB_DEVICE_STACK

config USB_NRFX
    default y

endif # USB_DEVICE_STACK

config BT_CTLR
    default BT

config ZMK_BLE
    default y

config ZMK_USB
    default y

endif # BOARD_MINIMI40
