# Copyright (c) 2024 CannonKeys LLC
# SPDX-License-Identifier: MIT

config BOARD_ENABLE_DCDC
    bool "Enable DCDC mode"
    select SOC_DCDC_NRF52X
    default y
    depends on BOARD_MINIMI40

config LED
    default y
